body {
    background-color: #141414;
    font-family: 'Lato', sans-serif;
    height: auto;
}

/* Navbar */

.navbar {
    background-color: #282828;
}

.navbar a {
    color: white;
    font-size: 25px;
}

.navbar .quote {
    font-weight: 900;
}

.navbar .fa-solid {
    padding: 0 10px;
}

.navbar a:hover {
    color: #b390fb;
}

.navbar-nav li {
    padding: 0 40px;
}
 
.navbar img {
    width: 200px;
}

.navbar .container-fluid {
    padding: 0 15%;
}

/* Banner */

#Title {
    height: 960px;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100vw;
    z-index: 0;
    bottom: 100px;
}

.bannerimage {
    position: absolute;
    width: clamp(1940px, 100%,  2560px);
    overflow: hidden;
}


#Title .banner {
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50px;
    width: 700px;
    margin: 100px auto;
    padding: 40px 0;
}


.banner {
    padding: 40px 0;
}

.colortext {
    color: #b390fb;
}

.titlemain h1 {
    text-align: center;
    font-size: 4.2rem;
    line-height: 1.5;
    font-weight: 900;
}

#Title h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
}


.subtext {
    width: auto;
    font-size: 24px;
    line-height: 2;
    margin-left: 3%;
    text-align: left;
}

.andmore {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.quotebtn {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.quotebtn .btn {
    background-color: #b390fb;
    color: white;
    transition: 0.4s;
}

.quotebtn .btn:hover {
    background-color: #7F669D;
}

/* Socials */


.social {
    background-color: black;
    padding-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    height: 95px;
    margin: 0;
}

.social a {
    color: white;
    transition: 0.4s;
    padding: 0 50px;
}

.social a:hover {
    color:#b390fb;
}

/* About */

#About {
    position: relative;
    bottom: 20px;
    margin: 0;
    background-color: #141414;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media (max-width: 991px) {
    #About {
        padding: 0 10%;
    }
    .desc-container {
        padding: 0 0%;
    }
    .photos img {
        width: 40%;
    }
    
}

@media (min-width: 991px) and (max-width: 1920px) {
    #About {
        padding: 0 20%;
    }
    .desc-container {
        padding: 0 10%;
    }
    .photos img {
        width: 65%;
    }
} 

@media (min-width: 1920px) and (max-width: 2560px) {
    #About {
        padding: 0 30%;
    }
    .desc-container {
        padding: 0 10%;
    }
    .photos img {
        width: 65%;
    }
} 

#About figcaption {
    font-size: 1.5rem;
    font-weight: 900;
}

.toptext {
    margin-top: 20px;
    text-align: center;
    font-size: 4.2rem;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 20px;
}

.us {
    width: auto;
    text-align: center;
}


.about-text {
    background-color: #443a5a6c;
    border-radius: 20px;
    padding: 5%;
}

.desc-text {
    margin-top: 50px;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

#About .phonenumber {
    letter-spacing: 20px;
}

/* Phone Bar */
.phonebar {
    background-color: black;
    padding-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    height: 95px;
    margin: 0;
}

.phonebar a {
    word-spacing: 0.6rem;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.phonebar a:hover {
    color: #b390fb;
}


/* Testimonials */

#Testimonials {
    color: white;
    text-align: center;
    padding: 3% 0 4.8%;
    background-color: #282828;
    background-image: url(../images/photo2.jpg);
    background-size: cover;
    background-position: 50%;
}

#Testimonials h1 {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 900;
    margin-bottom: 3%;
}

#Testimonials h2 {
    color: white;
    font-weight: 400;
    font-size: 2rem;
    padding: 0 5%;
}

#Testimonials p {
    font-size: 2rem;
    margin-bottom: 3%;
}

#Testimonials em {
    color: #b390fb;
    font-size: 24px;
    font-weight: 900;
}


.testimonials {
    background-color: #686868;
    height: 700px;
}

.testimonial-background {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 25%;
    padding: 1%;
    border-radius: 50px;
}

/* More Reviews */
.more-reviews {
    background-color: black;
    padding-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    height: 95px;
    margin: 0;
}

.more-reviews a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.more-reviews i {
    margin: 0 10px;
}

.more-reviews a:hover {
    color: #b390fb;
}


/* Contact */

#Quote {
    color: white;
    margin-bottom: 4%;
}

#Quote p {
    color: rgb(170, 170, 170);
    text-align: center;
    margin-bottom: 2%;
    font-size: 20px;
}

#Quote h1 {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 900;
    
    margin-top: 3%;
}

#Quote .quote-form {
    padding: 0 ;
}

@media (max-width: 991px) {
    #Quote .quote-form {
        padding: 0 20%;
    }
}

@media (min-width: 991px) and (max-width: 1920px) {
    #Quote .quote-form {
        padding: 0 30%;
    }
} 

@media (min-width: 1920px) and (max-width: 2560px) {
    #Quote .quote-form {
        padding: 0 40%;
    }
} 

.form-control {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.form-control:focus {
    background-color: lightgray;
}

#Quote .form-group {
    padding: 2% 0;
}

#Quote button {
    margin: 2% 0;
}

.submitbtn {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #7F669D;
    color: white;
    transition: 0.4s;
}

.submitbtn:hover {
    background-color: #604e75;
}

.success {
    text-align: center;
    background-color: rgb(118, 150, 69);
    margin: 0 15%;
    color: black;
    border-radius: 20px;
    visibility: hidden;
}



/* Footer */


.social2 {
    background-color: black;
    color: white;
    padding-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 40px;
    height: auto;
    margin: 0;
    overflow: hidden;
}

.social2 p {
    margin-top: 1%;
    font-size: 26px;
}

.social2 h4 {
    font-size: 16px;
    padding-bottom: 1%;
    color: gray;
}

.social2 a {
    font-size: 1.5rem;
    color: white;
    transition: 0.4s;
    padding: 0 30px;
}

.social2 a:hover {
    color:#b390fb;
}